* {
    margin: 0;
    padding: 0;
}

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}
canvas {
    background-color: rgb(222, 222, 222);
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}